.tanx{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding:0.3rem
}
.quxiao{
    margin-left: 3rem;
    font-size: 0.2rem
}
.qu1{
    color: red;
    margin-left: 0.35rem
}
.b1{
    font-size: 0.32rem;
    color:black;
    margin-bottom: 0.1rem
}